.footerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4.6875rem;
}

.footerContainer h2 {
  font-style: italic;
  color: var(--cor1);
}

.socialNetworks {
  display: flex;
  gap: 1.25rem;
  font-size: 1.25rem;
}

.socialNetworks i {
  cursor: pointer;
}

