.mainContainer {
  display: flex;
}

.textContent {
  height: 750px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.textContent h1 {
  font-size: 8rem;
  display: flex;
  flex-direction: column;
  color: var(--cor1);
}

.textContent h1 span {
  font-size: 2rem;
  font-weight: 100;
  transform: translateY(2.1875rem);
}

.movieDescription {
  font-size: 3rem;
  color: var(--cor2);
  font-style: italic;
  transform: translateY(-0.3125rem);
  text-transform: uppercase;
}

.socialContent {
  width: 3.125rem;
}

.textContent p {
  color: var(--cor1);
  font-size: 1.1875rem;
  font-weight: 100;
  width: 37.5rem;
}

.textContent a {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.625rem;
  margin-top: 3.125rem;
  width: 18.75rem;
  height: 5rem;
  background: var(--cor2);
  font-size: 1.5rem;
}

.socialContent ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 1.25rem;
}

.socialContent li {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  height: 3.125rem;
  width: 3.125rem;
  border-radius: 50%;
  border: 0.125rem solid var(--cor1);
}

.socialContent i {
  font-size: 1.5rem;
  cursor: pointer;
}

.socialContent li:hover {
  background-color: var(--cor2);
  border: var(--cor2);
  transition: all 0.5s;

}
