:root {
  --cor0: #000000;
  --cor1: #ffffff;
  --lightLinearGrad: #0000;
  --boldLinearGrad: #000d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: default;
  font-family: Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 5rem 8rem 3.125rem 8rem;
  background: linear-gradient(
      90deg,
      var(--cor0),
      var(--boldLinearGrad) 30%,
      var(--lightLinearGrad)
    ),
    url(./img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
}
