* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: default;
  font-family: Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {}

::-webkit-scrollbar-track {}

::-webkit-scrollbar-thumb {}